body {
  background: #ff851b;
}
#container {
  background: #333;
  box-shadow: 5px 5px 8px #000;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  top: 200px;
  margin: 0 auto;
}

.screen {
  background: rgb(255, 255, 153);
  width: 270px;
  height: 60px;
  position: relative;
  top: 20px;
  left: 15px;
}

.screen input {
  position: relative;
  height: 56px;
  width: 266px;
  color: #000;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  font-weight: bold;
  background: rgb(188, 205, 149);
  text-align: right;
}

.btns {
  position: relative;
  top: 30px;
  left: 12px;
}

.button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 7px;
  margin-left: 10px;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
/* Style the first three rows of buttons black */
.button.black {
  color: #fff;
  background-color: #000;
  border-bottom: 2px solid #647489;
  border-top: 2px #000;
}
/* Style the remaining buttons grey */
.button.silver {
  color: #fff;
  background: rgb(110, 118, 127);
  border-bottom: 2px solid #000;
  font-family: "Orbitron", sans-serif;
}
/* Style the "del" and "exit" buttons red */
.button.red {
  color: #fff;
  background: rgb(242, 60, 60);
  border-bottom: 2px solid #000;
}

p {
  line-height: 30px;
}

.copyright {
  text-align: center;
  margin-top: 90px;
}
